body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #F8F1F5;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
    display: flex;
    align-items: center;
    background-color: #f0e0e9;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    flex-wrap: wrap;
}

header .name {
    font-size: 40px;
    font-weight: 600;
}

header .nav-buttons {
    margin-right: 3.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 100 100px;
}

header .nav-buttons a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin: 10px 20px;
}

.projects {
    margin: 5% 0;
    padding: 20px;
}

.project {
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.project:hover {
    background-color: #F8F1F5;
}

.project a {
    display: block;
    text-decoration: none;
    color: #333;
}

.project h3 {
    margin: 0;
    font-size: 20px;
}

.project p {
    margin: 20px 0 0 0;
}
