body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #1a1917;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    background-color: #1a1917;
    padding: 25px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    flex-wrap: wrap;
    border-bottom: 5px solid #FF9FE5;
}

header .name {
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #e5e4df;
}

header .nav-buttons {
    margin-right: 3.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1; 
}

header .nav-buttons a {
    text-decoration: none;
    color: #e5e4df;
    font-size: 18px;
    margin: 10px 20px;
}

header .nav-buttons a:hover {
    color: #FF9FE5;
    font-style: italic;
}

.projects {
    margin: 5% 0;
    padding: 20px;
    padding-top: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two columns! */
    gap: 20px;
}

.project {
    padding: 30px;
    border: 5px solid #7d7b79;
    border-radius: 15px;
    transition: background-color 0.3s;
    text-decoration: none;
    color: #e5e4df;
}

.project:hover {
    background-color: rgba(255,159,229, 0.75);
    border: 5px solid #FF9FE5 ;
}

.project h3 {
    margin: 0;
    font-size: 20px;
}

.project p {
    margin: 20px 0 0 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header .nav-buttons {
        justify-content: flex-start;
        width: 100%;
    }
    header .nav-buttons a {
        margin: 5px 5px;
    }
    .projects {
        padding-top: 150px; 
        grid-template-columns: 1fr; /* single column on phone screen */
    }
}

u { 
    text-decoration-color:#FF9FE5;
}

.project-detail {
    margin: 5% 0;
    padding: 20px;
    padding-top: 20px; /* Ensure content is not hidden behind the fixed header */
    color: #e5e4df;
}

.project-detail h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.project-detail .media {
    margin-bottom: 20px;
}

.description { 
    padding: 20px;
    border-radius: 8px;
    background-color: #7d7b79;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #e5e4df;
}

.project-detail .description h3 {
    margin-top: 20px;
    font-size: 24px;
}

.project-detail .description p {
    font-size: 18px;
    line-height: 1.5;
}

.project-detail .description ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project-detail .description ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.embed-container {
    position: relative;
    padding-bottom: 100px;
    height: 0;
    overflow: hidden;
    max-width: 60%; /* Adjust the width as needed to make the video smaller */
    height: 40vh;
    margin: 0 auto; /* Center the video */
}

.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container img { 
    width: 80%; 
    height: auto; 
    margin-top: 2px; 
    margin-bottom: 0px; 
    padding-bottom: 10px; 
}