.main-font { 
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
}

.instrument-font-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: normal;
}
  
a {
    color: inherit;
    text-decoration: none;
}

a:visited,
a:hover,
a:active {
    color: inherit; 
    text-decoration: none; 
}

h1 { 
    font-size: 5em;
    margin: 0; 
    color: #00124a;
}

body {
    /* side margins*/
    margin-left: 5%;
    margin-right: 5%;
    /* top margin */
    margin-top: 2%;
    /* bottom margin */
    margin-bottom: 3%;
    /* background color */
    background-color: #edefee;
}

nav ul li { 
    display: inline;
    color: #edefee;
    /* font size */ 
    font-size: 1.2em;
    /* make these elements have oval buttons behind them */
    border-radius: 30px;
    padding: 9px;
    background-color: #00124a; 
    margin-left: -300px;
    margin-right: 100px; /* space between list items */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #edefee; /* Match the background color */
    z-index: 1000; /* Ensure it stays on top */
    padding: 10px 5%; /* Add some padding for spacing */
}

.navbar nav {
    margin-left: auto; /* moves nav buttons to right */
}

hr {
    border: none;
    height: 2px;
    line-height: 0;
    background-color: #00124a;
    text-align: left;
    width: 90%;
    position: fixed;
    top: 70px; /* Adjust this based on the height of your navbar */
    left: 5%; /* Same margin as body */
    z-index: 1000;
    margin-top: 40px;
}

h2 { 
    font-size: 2.5em;
    color: #00124a;
    padding-top: 20px;
    margin-top: 180px; /* Add margin to push content below fixed elements */
    position: fixed;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 230px; /* add left margin to move projects to the right */
    flex-direction: column;
    margin-top: -90px; /* move projects up */
}

.project-button {
    background-color: rgba(255, 255, 255, 0);
    color: #00124a;
    padding: 15px;
    border-radius: 0px;
    border: 2px solid #00124a;
    text-align: left;
    width: 78%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-button:hover {
    box-shadow: 0px 0px 7px 7px rgba(0, 18, 74, 0.35);
}

.project-button h2 {
    font-family: 'Helvetica', sans-serif;
    margin-top: -20px;
    font-size: 1.5em;
    display: inline;
    margin-left: 5px;
    position: relative;
}

.project-button h3 { 
    font-family: "Instrument Serif", serif;
    display: inline;
    font-style: italic;
    font-size: 1.4em;
    color: #00124a;
    font-weight: 300;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0px;
}

.project-button p {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px
}
